
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 0, 67);
  }

  #menuhome {
    background-color: #907297;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  #botao{
    background-color: #1f1422;
    border: white;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;

  }

  input[type="button"], input[type="submit"] {
    background-color: #683e72;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  #menuhome:hover {
    background-color: #ab98af;
  }

  form {
    background-color: rgb(205, 191, 211);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
  }

  h1 {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="decimal"] {
    background-color: #e0dceb;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    
  }

  #olinho {
    cursor: pointer;
    height: 20px;
    margin-left: -25px;
    margin-top: 10px;
    position: relative;
    width: 20px;
  }



  .button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }

  .button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }

  
  
table {
    border-collapse: collapse;
    text-align: center;
    color: #eee;
    text-decoration: #bbb0be;
    width: 75%;
    margin:auto;
}

table tr th {
    font-size: 1.2em;
    color: #eee;
    text-decoration: #bbb0be;
}

table tr th,
table tr td {
    padding: 10px;
}

table tr td a {
    color: #eee;
    text-decoration: #bbb0be;
    font-weight: bolder;
    font-size: 1.1em;
}